body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: rgba(171, 115, 6, 1);
}

h1 {
  text-align: center;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
}

/* NAVIGATION BAR */

.navbar-fixed a:visited {
  text-decoration: none;
  color: white;
}

.navbar-fixed a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #1d6b95;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.navbar-fixed a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar-fixed {
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(171, 115, 6, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.brand-logo {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 55px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-about {
  margin-left: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 120px;
}

.nav-store {
  margin-left: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 220px;
}

.nav-index {
  margin-left: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 380px;
}
.nav-add {
  margin-left: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 520px;
}

.nav-inputs {
  margin-left: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 720px;
}

.nav-inputs-add {
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 985px;
}

.log-out,
.log-in {
  margin-left: 150px;
  margin-bottom: 100px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  right: 65px;
}

.sign-up {
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  right: 165px;
}

/* MY GARDEN */
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.card-content {
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*===========STYLING FOR VEG DETAIL.HTML ============*/

.veg-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  height: 100vh;
}

.veg-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 250px;
}

.veg-image-div {
  width: 200px;
}

.veg-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.veg-info {
  width: 410px;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.veg-edit-del-btns {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-choices {
  width: 100%;
}

/* GARDEN STORE */

.categories {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.fertilizers,
.pesticides,
.tools,
.seeds {
  margin: 20px;
  width: 200px;
}

.input-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #bfe2da;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.basket {
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.add-btn {
  text-align: center;
}
