h1 {
  text-align: center;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
}

.navbar-fixed {
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(171, 115, 6, 1);
}

.brand-logo {
  position: absolute;
  left: 25px;
  top: 20px;
  height: 65px;
}

.nav-item {
  margin-left: 80px;
  text-decoration: none;
  font-size: 25px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 125px;
  height: 135px;
}

.nav-index {
  margin-left: 80px;
  text-decoration: none;
  font-size: 25px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 265px;
}

.nav-add {
  margin-left: 80px;
  text-decoration: none;
  font-size: 25px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 455px;
}

.nav-inputs {
  margin-left: 80px;
  text-decoration: none;
  font-size: 25px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 695px;
}

.nav-inputs-add {
  text-decoration: none;
  font-size: 25px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 985px;
}

.log-out,
.log-in {
  margin-left: 150px;
  margin-bottom: 100px;
  text-decoration: none;
  font-size: 25px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  right: 65px;
}

.sign-up {
  margin-left: 30px;
  text-decoration: none;
  font-size: 25px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 60px;
  right: 165px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: rgba(171, 115, 6, 1);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.card-content {
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*===========STYLING FOR VEG DETAIL.HTML ============*/

.veg-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  height: 100vh;
}

.veg-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 250px;
}

.veg-image-div {
  width: 200px;
}

.veg-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.veg-info {
  width: 410px;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.veg-edit-del-btns {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-choices {
  width: 100%;
}

/*===========STYLING FOR ADDING FORM ============*/

.add-form {
  background-color: #D9D9D9;
  width: 40%;
  height: 40%;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #ffffff;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: rgba(171, 115, 6, 1);
}