body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: rgb(76, 93, 49);
  color: white;
}

h1 {
  text-align: center;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
}

/* NAVIGATION BAR */

.navbar-fixed a:visited {
  text-decoration: none;
  color: white;
}

.navbar-fixed a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.navbar-fixed a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar-fixed {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(76, 93, 49);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 640px;
}

.brand-logo {
  margin-left: 20px;
  height: 80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-about {
  margin-left: 120px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
}

.nav-store {
  margin-left: 50px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
}

.nav-index {
  margin-left: 50px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
}

.nav-add {
  margin-left: 50px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
}

.nav-inputs {
  margin-left: 50px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
}

.nav-inputs-add {
  margin-left: 50px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
}

.username {
  margin-left: 100px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  color: rgba(27, 223, 164, 1);
  font-weight: 500;
  width: 150px;
}

.log-out,
.log-in {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
}

.sign-up {
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
}

/*============HOME PAGE ==============*/
.home-content {
  width: 100%;
  height: 100vh;
  background-image: url("/static/images/gardenbackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome {
  margin-top: 100px;
  width: 450px;
  height: 270px;
  background-color: rgb(175, 243, 73);
  border: 1px solid black;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #30cc3d;
}

/*About Page */
.welcome > p,
h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* MY GARDEN */

.garden-background {
  width: 100%;
  height: 95vh;
  background-image: url("/static/images/sky.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garden-background > h1 {
  font-size: 60px;
  font-weight: 700;
}

.garden-background > h3 {
  font-size: 40px;
  font-weight: 500;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards > * {
  flex: 1 1;
}

.card {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 30px 30px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.card-title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}

.card-content {
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*===========STYLING FOR VEG DETAIL.HTML ============*/

.veg-detail-background {
  width: 100%;
  height: 95vh;
  background-image: url("/static/images/sky.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.veg-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: 95vh;
  background-color: #3cd449;
  border: 1px solid black;
  border-radius: 10px;
}

.veg-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.veg-image-div {
  width: 220px;
  height: 300px;
  margin: 5px -10px 5px 15px;
}

.veg-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px;
}

.photo-btn-div {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

input[type="file"] {
  margin-bottom: 0;
}

.photo-btn {
  margin-top: 0;
  margin-left: 10px;
}

.veg-info-and-buttons {
  width: 440px;
  height: 300px;
  flex-direction: column;
  align-items: center;
}

.veg-info {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.veg-info-left {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.veg-info-left > h2 {
  margin-top: 5px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.veg-info-left > h3 {
  margin-right: 10px;
  margin-top: 10px;
}

.veg-info-right > h3 {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.veg-detail-btns {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.veg-edit-del-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.update-btn {
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  background-color: yellow;
}

.delete-btn {
  margin-left: 15px;
  margin-right: 15px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(212, 33, 33);
  border-radius: 5px;
}

.input-choices {
  width: 100%;
}

.veg-basket {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.veg-basket > * {
  margin-top: 5;
  margin-bottom: 5px;
}

/* GARDEN STORE */

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.fertilizers,
.pesticides,
.tools,
.seeds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px 10px;
  width: 250px;
}

.input-card {
  margin: 20px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #bfe2da;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  padding: 10px;
}

.input-card > p {
  margin: 5px 10px;
}

.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "DIN Alternate";
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.basket-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-btn {
  text-align: center;
  margin-left: 10px;
}

/*===========STYLING FOR ADDING FORM ============*/

.add-form {
  background-color: #d9d9d9;
  width: 640px;
  height: 600px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;
}

.form {
  width: 100%;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

table {
  margin-left: auto;
  margin-right: auto;
}

input[type="text"],
select {
  min-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 20%;
  background-color: rgb(76, 93, 49);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="option"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: rgba(171, 115, 6, 1);
}

/*===========STYLING FOR STORE ============*/

.store-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.data-input-container {
  display: flex;
  flex-direction: row;
}

.data-input-container a {
  text-align: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #bfe2da;
  width: 150px;
  justify-content: space-between;
  padding: 0 5px;
  margin: 5px 0;
  color: black;
  box-shadow: 2px 2px rgb(205, 205, 208);
}

.cost-data-input-container {
  margin-left: 10px;
}

/*===========STYLING FOR Plant Veg ============*/
.plant-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.planting-form-div {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.input-container {
  margin-left: 15px;
}

/*=== login page ===*/

input[value="login"] {
  width: 100px;
  background-color: rgb(76, 93, 49);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
