{% extends 'base.html' %} {% block content %}

<h1>Vegetable Profile</h1>
<div class="veg-detail-content">
  <div class="veg-profile">
    <div class="veg-image-div">
      <!--insert image tag here-->
      <img
        class="veg-image"
        src="https://i5.walmartimages.ca/images/Enlarge/008/475/6000190008475.jpg"
      />
    </div>
    <div class="veg-info-and-buttons">
      <div class="veg-info">
        <div class="veg-info-left">
          <h3>Name: {{ veg.name }}</h3>
          <h3>Description:</h3>
          <h3>{{ veg.description }}</h3>
          <h3>Cost: ${{veg.cost}} per plant</h3>
        </div>
        <div class="veg-info-right">
          <h3>Date Seeded:</h3>
          <h3>{{veg.date}}</h3>
          <h3>Plants: {{veg.planted}}</h3>

          <h3>Produce Stage: {{veg.stage}}</h3>
        </div>
      </div>
      <div class="veg-edit-del-btns">
        <!--insert two buttons here-->
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </div>
  </div>
  <div class="inputs-choices">
    <!--Seperate into 3 columns or divs for inputs-->
    <div class="basket">
      <h2>Fertilizers, Pesticides, and Tools</h2>
      <h4>Total Garden Spending ($): {{ expenses }}</h4>
      {% for input in inputs_user %}
      <form action="{% url 'input_apply' veg.id input.id %}" method="post">
        {% csrf_token %}
        <div class="input-card">
          <h3>{{ input.name }}</h3>
          <h4>Cost: ${{ input.cost }}/use</h4>

          {% if input.category == "Tools"%}
          <button type="submit" class="add-btn">Rent</button>
          {% else %}
          <button type="submit" class="add-btn">Apply</button>

          {% endif %}
        </div>
      </form>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
