{% extends 'base.html' %} {% block content %}

<h1>Plant Vegetable Seeds</h1>

{{ seedslist |json_script:"seedArray" }}

<form action="{% url 'veg_add' %}" method="POST">
  {% csrf_token %}
  <div class="planting-form-div">
    <div class="plant-form">
      <h4>Seeds (Dropdown):</h4>
      <select id="veg-seed" name="name" required>
        {% for seed in seeds %}
        <option value="{{seed.name}}">{{ seed.name }}</option>
        {% endfor %}
      </select>

      <!-- hidden inputs to set name, description, etc-->
      <h4 id="veg-desc"></h4>
      <input type="hidden" id="veg-desc-input" name="description" />
      <h4 id="veg-cost"></h4>
      <input type="hidden" id="veg-cost-input" name="cost" />
      <!--form fields-->
      <h4>Date:</h4>
      <input type="date" name="date" required />
      <h4>Seeds Used:</h4>
      <input type="number" name="planted" required />
      <h4>Stage:</h4>
      <select id="stage" name="stage" required>
        {% for idx in stages %}
        <option value="{{idx.0}}">{{idx.1}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <input type="submit" value="Submit" class="btn" />
</form>

<script type="text/javascript">
  //capture the seedArray passed in
  const seedsList = JSON.parse(
    document.getElementById("seedArray").textContent
  );

  //default variable is at seedsList[0], add cost and things
  let description = seedsList[0]["description"];
  let cost = seedsList[0]["cost"];
  document.getElementById("veg-desc").innerHTML = `Description: ${description}`;
  document.getElementById("veg-desc-input").value = description;
  document.getElementById("veg-cost").innerHTML = `Cost ($/plant): ${cost}`;
  document.getElementById("veg-cost-input").value = cost;

  //add event listener to drop down menu
  let vegSelectEl = document.getElementById("veg-seed");
  vegSelectEl.addEventListener("change", function () {
    seedname = vegSelectEl.value;

    let seed = seedsList.filter((obj) => {
      return obj.name == seedname;
    });
    console.log(`Seed is of type ${typeof seed} and looks like`);
    console.log(seed);

    description = seed[0]["description"];
    cost = seed[0]["cost"];
    document.getElementById(
      "veg-desc"
    ).innerHTML = `Description: ${description}`;
    document.getElementById("veg-desc-input").value = description;
    document.getElementById("veg-cost").innerHTML = `Cost ($/plant): ${cost}`;
    document.getElementById("veg-cost-input").value = cost;
  });
</script>

{% endblock %}
