{% extends 'base.html' %} {% block content %}

<h1>Plant Vegetable Seeds</h1>

<form action="{% url 'veg_add' %}" method="POST">
  {% csrf_token %}
  <div class="planting-form-div">
    <div class="plant-form">
      <h4>Seeds (Dropdown):</h4>
      <select id="name" name="name">
        {% for seed in seeds %}
        <option value="{{seed.name}}">{{ seed.name }}</option>
        {% endfor %}
      </select>

      <!-- hidden inputs to set name, description, etc-->

      <input
        type="hidden"
        id="veg_description"
        name="description"
        value="red fruit"
      />
      <input type="hidden" id="veg_cost" name="cost" value="1.0" />

      <!--form fields-->
      <h4>Date:</h4>
      <input type="date" name="date" />
      <h4>Seeds Used:</h4>
      <input type="number" name="planted" />
      <h4>Stage:</h4>
      <select id="stage" name="stage">
        {% for idx in stages %}
        <option value="{{idx.0}}">{{idx.1}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <input type="submit" value="Submit" class="btn" />
</form>

{% endblock %}
